---
import PlaylistHorizontalCard from '@/components/PlaylistHorizontalCard.astro';
import Layout from '../layouts/Layout.astro';
import { playlists } from '@/lib/data';
import PlaylistSquareCard from '@/components/PlaylistSquareCard.astro';
import Greeting from '@/components/Greeting.astro';
import Header from '@/components/Header.astro';

const recent = playlists.slice(0, 6);
---

<Layout title='Spotify Clone' description='Spotify clone using Tailwind'>
  <div
    id='playlist-container'
    class='relative transition-all duration-1000 bg-green-600/50'
  >
    <Header />

    <div class='relative z-10 px-6 pt-10'>
      <Greeting />

      <div
        class='grid gap-3 grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 p-3 mt-2'
      >
        {
          recent.map((playlist) => (
            <PlaylistHorizontalCard playlist={playlist} />
          ))
        }
      </div>
      <h2 class='text-3xl font-bold mt-3'>Creados para tí</h2>
      <div class='flex flex-wrap mt-6 gap-4'>
        {recent.map((playlist) => <PlaylistSquareCard playlist={playlist} />)}
      </div>

      <div
        class='absolute -z-10 inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80'
      >
      </div>
    </div>
  </div>
</Layout>
