---
import NextPage from '../icons/nextPage.astro';
import PrevPage from '../icons/prevPage.astro';
---

<div class='relative py-4 px-6 flex gap-x-2 transition-all duration-1000 z-10'>
  <button class='bg-black/80 rounded-full p-2'>
    <PrevPage />
  </button>
  <button class='bg-black/80 rounded-full p-2'><NextPage /></button>
</div>
