---
interface Props {
  href?: string;
  class?: string;
}

const { href, class: className } = Astro.props;
---

<li>
  <a
    class={`flex  text-zinc-400 hover:text-zinc-100 items-center py-3 px-5 font-bold transition ${className}`}
    href={href}
  >
    <slot />
  </a>
</li>
